#todo-list li .view label{
	-webkit-box-flex:1;
}

#todo-list li .view {
	display:-webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-align: stretch;
}

#todo-list li .destroy{
	left:auto;
	right:auto !important;
	width:80px;
	height: 85px;
	position:relative !important;
	left: auto !important;
}
